@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .bg-gradient-blue-to-purple {
    background-image: linear-gradient(
      to right,
      config("colors.blue"),
      config("colors.purple")
    );
  }
  .bg-gradient-blue-to-purple {
    background-image: linear-gradient(
      to right,
      config("colors.blue"),
      config("colors.purple")
    );
  }
  .bg-gradient-blue-to-purple {
    background-image: linear-gradient(
      to right,
      config("colors.blue"),
      config("colors.purple")
    );
  }
}
